<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
     small {
         color: #6c757d;
     }
    </style>
  </head>
  <body>
    <div class="container">

    <div class="row">
        <img style="width: 60%; margin: auto;" src="/img/misc/sourdough2.jpg"/>
    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Leaven</h2>
            <p><small>aka levain, preferment, sponge, poolish, or biga</small></p>
        </div>

        <div class="col-5">
            <ul class="list-unstyled">
                <li><strong>active starter</strong> ~1 Tbsp <small>(needn't be precise)</small></li>
                <li><strong>white flour</strong> 20g</li>
                <li><strong>whole wheat flour</strong> 20g</li>
                <li><strong>water</strong> 40g</li>
            </ul>
            Mix and leave out at room temp
        </div>

        <div class="col-5">
            <p>
                This makes 80g of leaven, with a little left over for the next
                time. You may want to scale down as low as 60 for very warm
                climates or if you want to slow things down. In the winter, I
                usually go up to 100g.
            </p>
        </div>

    </div>

    <hr />
    <p>8 - 24 hours.  Longer will be more sour.</p>
    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Final Dough</h2>
        </div>

        <div class="col-3">
            <h4 class="text-muted">Autolyse</h4>
            <ul class="list-unstyled">
                <li><strong>leaven</strong> 80g</li>
                <li><strong>white flour</strong> 400g</li>
                <li><strong>whole wheat flour</strong> 100g</li>
                <li><strong>water</strong> 375g</li>
            </ul>
            Mix and let sit 20-30 minutes. Feed the remaining leaven and set
            aside for next time.
        </div>

        <div class="col-3">
            <h4 class="text-muted">Develop</h4>
            <ul class="list-unstyled">
                <li><strong>salt</strong> 10g</li>
            </ul>
            <p>Add in salt, mix thoroughly.</p>
            Stretch & fold 4 or 5 times, waiting at least 20 minutes between
            each. This counts as part of the bulk fermenation phase.
        </div>

        <div class="col-4">
            <p>
                The total amount of flour is consistent, although you can play
                with the proportions and types. White flour makes for loftier
                bread, whole grain flour gives more flavor.
            </p>
            <p>
                Wetter dough is harder to work with, but gives a more open crumb
                (think ciabatta). Try 350g water for something easier to work
                with, or bump up to 400g, particularly with more whole grain
                flour.
            </p>
        </div>

    </div>

    <hr />
    <dl class="row">
        <dt class="col-3">Bulk Fermentation</dt>
        <dd class="col-9">
            Let rise until doubled, 3 - 12 hours depending on temperature. You can
            put it in the fridge to slow it down if needed.
        </dd>
    </dl>
    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Divide and Shape</h2>
            <p><small>
                At this stage you can also switch to making
                <a href="/focaccia">focaccia.</a>
                I'll often do a loaf of bread and a focaccia.
            </small></p>
        </div>

        <div class="col-3">
            <h4 class="text-muted">Bench Rest</h4>
            Lightly flour your countertop. Dump the dough out and cut into
            multiple loaves if you're making more than one. Gently work it into
            a round.  Wait ~30 minutes
        </div>

        <div class="col-7">
            <h4 class="text-muted">Shape</h4>
            <p>
                Dust the top of the dough with a little flour. Flip over and
                gently stretch out. Fold the bottom third up, then the right third,
                left, and finally top. Roll over so the seam is down. Slide across
                countertop with hands and/or bench knife to build tension.
            </p>
            <p>
                Dust banneton and dough with <strong>rice flour</strong>. Put
                dough in banneton with the seam-side up. Dust that side with
                more rice flour and cover with a towel.
            </p>
        </div>

    </div>

    <hr />
    <dl class="row">
        <dt class="col-3">Proof</dt>
        <dd class="col-9">
            Let rise until roughly doubled. This should be 2-6 hours at room
            temp, or put in the fridge to rise overnight. Use the poke test to
            know when it's ready; it should spring back slowly when you poke it.
            As it rises it'll strain the structure of the dough - too long and
            you risk collapse when you transfer and score.
        </dd>
    </dl>
    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Bake</h2>
        </div>

        <div class="col-2">
            <h4 class="text-muted">Preheat</h4>
            Preheat the oven and dutch oven to 500&deg;
        </div>

        <div class="col-3">
            <h4 class="text-muted">Score</h4>
            Pull the base of the pan out of the oven. Carefully dump the
            dough into the pan. Score with a razor or sharp knife.
        </div>

        <div class="col-5">
            <h4 class="text-muted">Bake</h4>
            <p>Put the lid on the pan, return to oven and bake 25 minutes.</p>
            <p>
                Reduce the heat to 450&deg;. Remove the lid from the pan and
                cook until the bread is nice and dark. 10-20 minutes.
            </p>
        </div>

    </div>

  </div>
  </body>
</html>
