<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
     small {
         color: #6c757d;
     }
    </style>
  </head>
  <body>
    <div class="container">

    <div class="row">
        <h1>Focaccia</h1>
    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Dough</h2>
        </div>

        <div class="col-7">
            <p>
                The process for making focaccia starts the same as for bread.  Follow
                <a href="/bread">that process</a> up through the bulk fermentation.
                I'll usually make focaccia and a loaf of bread at the same time.
            </p>
            <p>
                Since it's flat, focaccia doesn't need nearly as much strength
                as bread. If you're making a loaf and it's clearly not gonna
                stand up during the proof, you can always pivot to focaccia.
            </p>
            <p>
                If I'm doing only focaccia, I'll typically go a bit wetter and a
                bit less whole grain than my standard loaf of bread. Here's an
                example at 10% whole wheat and 80% hydration.
            </p>
        </div>

        <div class="col-3">
            <ul class="list-unstyled">
                <li><strong>leaven</strong> 80g</li>
                <li><strong>white flour</strong> 450g</li>
                <li><strong>whole wheat flour</strong> 50g</li>
                <li><strong>water</strong> 400g</li>
            </ul>
            (and separately, 10g salt, as with normal bread)
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Divide and Shape</h2>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Round</h4>
            <p>
                Split off the portion of the dough to be used for focaccia. The
                goal here is to preserve much of the gas trapped in the dough.
                It doesn't need much strength at all, so handle as little as
                possible, just a little light shaping into a loose ball.
            </p>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Shape</h4>
            <p>
                Pour a generous amount of olive oil in a sheet pan. Carefully
                place the dough into the middle of the pan Lightly oil the top
                of the dough to prevent it from drying out. Gently stretch the
                dough out, but don't force it or deflate it, it'll stretch more
                as it proofs.
            </p>
        </div>

        <p><small>
            You can optionally put the focaccia in the fridge to delay the bake.
            To do so, oil a wide mixing bowl, place the dough inside it, oil the
            top of the dough. Cover with plastic wrap and put in the fridge for
            up to a day.
        </small></p>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Top and Bake</h2>
        </div>

        <div class="col-3">
            <h4 class="text-muted">Preheat</h4>
            <p>Preheat the oven to 450&deg;</p>
            <p>The dough shouldn't need long to rise - start preheating shortly after shaping</p>
        </div>

        <div class="col-3">
            <h4 class="text-muted">Top</h4>
            Just before putting in the oven, top the dough. Drizzle some olive
            oil over the top and dimple with your fingers, maybe spreading it
            out a last little bit more in the process if needed. Sprinkle with
            coarse salt.
        </div>

        <div class="col-3">
            <h4 class="text-muted">Bake</h4>
            Bake until golden brown - say 15-20 minutes. The bottom should be
            crispy and the inside puffed and airy.
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Other toppings</h2>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Misc</h4>
            Focaccia toppings are usually pretty simple; Olive oil and salt is
            plenty. You may also try one or more of these:
            <ul>
                <li>Fresh herbs.  Oregano is great, so is sage.</li>
                <li>Cherry tomatoes or tomato slices</li>
                <li>Thinly sliced onion</li>
            </ul>
            There's a trend right now called "gardenscape focaccia", where you
            decorate it to look like a flower garden using various toppings.
        </div>

        <div class="col-5">
            <h4 class="text-muted">Sardenaira</h4>
            <p>
                Sardenaira is a close relative to focaccia from Liguria. I make
                it as a focaccia with a particular set of toppings. It's
                salty and fantastic.
            </p>
            <p>
                <strong>Sauce</strong> - Make a basic tomato sauce, but with
                anchovies dissolved into it. Spread this over the dough.
            </p>
            <p>
                <strong>Toppings</strong> - Dot the top of the sardenaira with:
                <ul>
                    <li>Unpeeled whole garlic cloves (they cook better this way)</li>
                    <li>Kalamata olives (ideally "taggiasche olives", actually)</li>
                    <li>Anchovy fillets (optional)</li>
                    <li>A drizzle of olive oil</li>
                </ul>
            </p>
        </div>

    </div>

  </div>
  </body>
</html>
