<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
     small {
         color: #6c757d;
     }
    </style>
  </head>
  <body>
    <div class="container">

    <div class="row">
        <h1>Pizza</h1>
    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Dough</h2>
        </div>

        <div class="col-7">
            <p>
                The process for making pizza starts the same as for bread.  Follow
                <a href="/bread">that process</a> up through the bulk fermentation.
            </p>
            <p>
                Neapolitan style pizza uses a very thin crust, and it's helpful
                to have a dough that's a bit stronger than for normal bread. For
                pizza I'll use all white flour, preferably high gluten, and even
                OO if I can find it. A somewhat lower hydration will make the
                dough easier to work with and less apt to fall apart.
            </p>
        </div>

        <div class="col-3">
            <ul class="list-unstyled">
                <li><strong>leaven</strong> 80g</li>
                <li><strong>white flour</strong> 500g</li>
                <li><strong>water</strong> 360g</li>
            </ul>
            (and separately, 10g salt, as with normal bread)
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Divide and Shape</h2>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Shape</h4>
            <p>
                Split off the portion of the dough to be used for pizza. Cut
                this 500g flour worth of dough into thirds.
            </p>
            <p>
                Shape each chunk into a tight ball the same way you would for a
                boule of bread.  They need the strength.
            </p>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Store</h4>
            <p>
                If you have round shallow bowls or food containers that are
                about the right size for individual balls of dough, that's best.
                Otherwise you can store all the balls together in a shallow pan
                - oil will keep them from sticking together.
            </p>
            <p>
                Oil each dough ball all over, place in the containers and seal
                with a lid or plastic wrap.  Place in the fridge 12 - 24 hours.
            </p>
        </div>

        <p><small>
            I like to do the above steps in preparation for a pizza night with
            friends. When they come over, we can stretch the dough out, top it,
            and bake it, eating the pizzas as they come out of the oven. Three
            pizzas is usually enough for four people.
        </small></p>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Equiment setup</h2>
        </div>

        <div class="col-10">
            <p>Preheat the oven to 500&deg;</p>
            <p>
                It's hard to get a home oven to produce a decent pizza. At a
                minimum, you'll need a baking stone, though baking steels work
                better. Search around for options. Preheat whatever you're
                cooking on too.
            </p>
            <p>
                You'll need something thin to transfer the pizza in and out of
                the oven. A pizza peel is ideal, a cutting board will work, but
                the thickness makes things harder. I've heard of people using
                cardboard.
            </p>
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Prepare the pizza</h2>
        </div>


        <div class="col-10">
            <p>
                You can make the pizza on a countertop or directly on your peel.
                Generously flour your work area, dump the first ball of dough
                onto it, and flour the top of the dough too. Do not fold the
                dough. Flatten the middle of the dough with your hands. Flip it
                over a few times to make sure it's even and that there are no
                oily spots.
            </p>
            <p>
                There should be gas trapped in the dough - your goal is to
                de-gas the sauced part of the pie, but not the rim. Avoid
                touching the rim as much as possible. Pick up the dough and
                stretch it over your knuckles, gently working it bigger. You can
                let it rest for a minute if it's not stretching easily. It
                should be about a foot across and nearly translucent in the
                middle.
            </p>
            <p>
                Make sure there's plenty of flour under the dough so it doesn't
                stick while you top it. Spread the sauce over the dough, then
                top with decent mozzarella and whatever else you're using.
            </p>
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Bake</h2>
        </div>

        <div class="col-5">
            <p>
                Quickly slide the peel under the dough, or if you prepared it on
                the peel, give it a shake to make sure the pizza is loose. Put
                the peel to the back of the baking surface, shake the pizza
                until it starts to slide off and touch the stone, then jerk the
                peel out from under it quickly. You have a few seconds to try to
                rearrange the dough with a spatula if it went poorly.
            </p>
            <p>
                This should bake quickly. Lift up the dough with a spatula to
                check the bottom. When it's about done, you can turn the broiler
                on for 30 seconds or so to blast the top.
            </p>
        </div>

        <div class="col-5">
            <p>
                If you have a peel, you can just slide it under the pizza,
                otherwise use a spatula, fork, or tongs to slide the pizza off
                the stone onto a cutting board.
            </p>
            <p>
                Drizzle a little olive oil over the pizza, slice it, and slide
                it onto a wire rack so the bottom doesn't go soft. Eat
                immediately.
            </p>
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-2">
            <h2>Toppings </h2>
        </div>

        <div class="col-5">
            <h4 class="text-muted">Sauce</h4>
            Strain a 28 oz can of whole San Marzano tomatoes. Break them open so
            the juice inside can drain out. Stick a little of the tomato, a
            clove of garlic, and a dried chili in the blender until pureed. Add
            the rest of the tomatoes and blend just enough to break up the large
            chunks. Mix in some olive oil and oregano. That's all. The sauce
            will cook on the pizza.
        </div>

        <div class="col-5">
            <h4 class="text-muted">Toppings</h4>
            <p>
                Use decent mozzarella. Slice it thick, then tear each slice into
                chunks.  That and fresh basil makes a damn fine pizza.
            </p>
            <p>
                Other choice toppings include:
                <ul>
                    <li>Spicy salami</li>
                    <li>Cherry tomatoes</li>
                    <li>Prosciutto and arugula (both added after baking)</li>
                </ul>
            </p>
        </div>

    </div>

  </div>
  </body>
</html>
